* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
}

body {
  padding: 60px;
}

input {
  border-color: aquamarine;
  width: 100%;
  font-size: 1.2rem;
  color: rgb(10, 123, 13);
}